{
  "presets": [
    "@babel/react",
    "@babel/preset-env",
    "@babel/preset-typescript"
    // {
    //   "targets": {
    //     "browsers": [
    //       "last 2 versions",
    //       "safari >= 7"
    //     ]
    //   }
    // }
  ]
}